@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

.App{
 overflow:hidden;
}
.shopping{
  font-size: 3rem;
  font-family: 'Dancing Script', cursive;
  color: #6c6c6d;
  position: relative;
  left: 40%;
}
